extends ../base
include ../mixins/video

block content 
    form(method="GET").search__form
        input(type="text", name="keyword", placeholder="Search by title", pattern="^[a-zA-Z0-9\\s]*$", title="Search query can only contain letters, numbers, and spaces.", required, minLength="3",maxLength="80")
        button 
            i.fas.fa-search

    div.video-grid
        each video in videos
            +video(video)
        else    
            span.empty__message No videos found