extends ../base

block content
    div.upload__container
        div.upload__video
            video#preview 
            button#actionBtn.social__btn Start Recording 
    if errorMessage 
        span=errorMessage
    form(method = "POST", enctype="multipart/form-data")
        label(for="video") Video File
        input(type="file", accept="video/*", required, id="video", name="video")
        label(for="thumb") Thumbnail File
        input(type="file", accept="image/*", required, id="thumb", name="thumb")
        input(type="text", name="title", placeholder="Title", minlength="3", maxlength="80", pattern="^[a-zA-Z0-9\\s_\\-]{3,80}$" title="Title must be 3-80 characters long and can only contain letters, numbers, hyphens, underscores, and spaces.", minLength="3"  ,maxLength="80", required)
        input(name="description", placeholder="Description", required, type ="text", minlength= "20", maxLength="255")
        input(type="text", name="hashtags", placeholder="Hashtag, separated by comma.", pattern="^(#?[a-zA-Z0-9\\s]{1,20})(,?\\s?#?\\s?[a-zA-Z0-9]{1,20})*$", title="Hashtags should be max 20 characters long, and separated by commas.", maxlength="200", required)
        input(type="submit", value="Upload Video") 
block scripts 
    script(src="/static/js/recorder.js")