extends ../base

block content
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(placeholder = "Old Password", type="password", name="oldPassword")
        input(placeholder = "New Password", type="password", name="newPassword", pattern="(?=.*[A-Z])(?=.*\\W).{10,20}", required, title="Password must contain at least one uppercase, one special character, and be between 10 and 20 characters long")
        input(placeholder = "Password Confirmation", type="password", name="newPasswordConfirm",  pattern="(?=.*[A-Z])(?=.*\\W).{10,20}", title="Password must contain at least one uppercase, one special character, and be between 10 and 20 characters long", required)
        input(value = "Change Password" type="submit")